<html>
<head>
    <title>DK E+I - DB Helper</title>
</head>
<body>
<h3>청년 - 검색</h3>
<a href="main">처음으로</a>
<hr>
{{#if found}}
    전체 개수: {{size}}<br>
    <form id="deleteYouthForm" action="youthDelete" method="post">
        <table border="1" cellpadding="1">
            <tbody>
            <tr>
                <td>삭제</td>
                <td><b>청년 이름</b></td>
                <td><b>청년 또래</b></td>
                <td><b>휴대전화번호</b></td>
            </tr>
            {{#each youths}}
                <tr>
                    <td><input type="checkbox" name="youthId" value="{{youthId}}"></td>
                    <td><a href="youthDetail?youthId={{youthId}}">{{youthName}}</a></td>
                    <td>{{youthPeer}}</td>
                    <td>{{cellPhone}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <input type="submit" name="deleteSubmit" value="선택 항목 삭제">
    </form>
    <form method="post" action="youthDeleteAll">
        <input type="submit" name="deleteSubmit" value="모두 삭제">
    </form>
    <form method="post" action="youthInsert">
        <input type="submit" name="insertSubmit" value="청년 추가">
    </form>
    <form id="searchYouthForm" method="post" action="youthSearch">
        <select name="target">
            {{#each keywordList}}
                <option value="{{key}}">{{name}}</option>
            {{/each}}
        </select>
        <input type="text" name="keyword">
        <input type="submit" name="submit" value="검색">
    </form>
    {{#each pageNumbers}}
        <a href="youthSearch?page={{value}}">{{display}}</a>
    {{/each}}
{{else}}
    청년 목록을 불러올 수 없습니다.
{{/if}}
</body>
</html>
